<html>
<head>
	<title>@(ViewBag.Title ?? Docomb.WebCore.Configurations.MainConfig.Instance.SiteName)</title>
	<link rel="stylesheet" href="~/_resources/styles/docombReader.css" />
</head>

<body>
	@Html.Partial("~/Areas/Reader/Pages/Shared/_Header.cshtml")
	@RenderBody()
	@Html.Partial("~/Areas/Reader/Pages/Shared/_Footer.cshtml")
</body>
</html>