<html>
<head>
	<title>@(ViewBag.Title ?? Docomb.WebCore.Configurations.MainConfig.Instance.SiteName)</title>
</head>

<body>
	@Html.Partial("~/Areas/Reader/Pages/Shared/_Header.cshtml")
	@RenderBody()
	@Html.Partial("~/Areas/Reader/Pages/Shared/_Footer.cshtml")
</body>
</html>