@using Docomb.WebCore.Configurations;
@using Docomb.WebCore.Authentication;
@if ((MainConfig.Instance.Authentication.AuthorizeReader) || (User?.Identity?.IsAuthenticated == true))
{
	<div class="user">
		<span class="name" title="@ViewBag.User?.Username">@ViewBag.User?.Name</span>
		@if ((UiConfig.HasAdmin) && (ViewBag.User?.AccessLevel >= AccessLevel.Editor))
		{
			<span class="command"><a href="/@(UiConfig.UrlPathPrefix)/@((string.IsNullOrEmpty(ViewBag.ItemPath)) ? "" : "workspace/" + ViewBag.ItemPath)">Admin</a></span>
		}
		<span class="command"><a href="/account/logout">Log out</a></span>
	</div>
}
