@model Docomb.WebReader.ViewModels.Article
@using Docomb.ContentStorage
@{
	Layout = "~/Areas/Reader/Pages/Shared/_Layout.cshtml";
}

<div class="pageContent">
	@{ 
		switch (Model.ContentFile.FileType)
		{
			case FileType.Markdown:
				{
					Html.Raw(Model.MarkdownEngine.RenderHtml(Model.ContentFile));
					break;
				}
			case FileType.Html: { Html.Raw(Model.ContentFile.TextContent); break; }
			default: {
					<code>@Model.ContentFile.TextContent</code>
					break;
				}
		}
	}
</div>

