@{
	Layout = "~/Areas/Reader/Pages/Shared/_AuthLayout.cshtml";
}
<div class="inner">
	<div class="actionStatus error">
		<div class="title">Access denied</div>
	</div>
	<div class="otherActions">
		<div class="links">
			<a href="account/logout">Log out</a>
			<a href="account/switch">Switch account</a>
		</div>
	</div>
</div>