@model Docomb.WebReader.ViewModels.DirectoryList
@using Docomb.ContentStorage
@{
	Layout = "~/Areas/Reader/Pages/Shared/_Layout.cshtml";
}

<div class="pageContent">
	@{ Dictionary<string, ContentItemSummary> children = ViewBag.Context?.Workspace?.Content?.GetChildren(ViewBag.Context?.PathParts); }
	@if (children?.Count > 0)
	{
		<ul class="directoryChildSelection">
			@foreach (ContentItemSummary child in children.Values)
			{
				<li><a href="@child.FullUrl">@child.Title</a></li>
			}
		</ul>
	}
</div>

