@model Docomb.WebReader.ViewModels.DirectoryList
@using Docomb.ContentStorage
@{
	Layout = "~/Areas/Reader/Pages/Shared/_Layout.cshtml";
}

<div class="pageContent">
	@{ List<ContentItemSummary> children = ViewBag.Context?.Workspace?.Content?.GetChildren(ViewBag.Context?.PathParts); }
	@if (children?.Count > 0)
	{
		<ul class="directoryChildSelection">
			@foreach (ContentItemSummary child in children)
			{
				string icon = "file-empty";
				if ((child.Type == ContentItemType.Directory) || (child.NeedsTrailingSlash))
				{ icon = "folder"; }
				else
				{
					icon = child.GetFile()?.FileType switch
					{
						FileType.Markdown => "file-text2",
						FileType.PlainText => "file-text2",
						FileType.Html => "file-text2",
						FileType.BitmapImage => "file-picture",
						FileType.VectorImage => "file-picture",
						_ => "file-empty"
					};
				}
				icon = $"<i class=\"icon-{icon}\"></i> ";
				<li><a href="@child.FullUrl">@Html.Raw(icon)@child.Title</a></li>
			}
		</ul>
	}
</div>

