@using Docomb.ContentStorage
@{
	Layout = "~/Areas/Reader/Pages/Shared/_Layout.cshtml";
}

<div class="pageContent">
	<ul class="workspaceSelection">
		@foreach (var workspace in Docomb.WebReader.SiteEnvironment.Instance?.Workspaces)
		{
			<li><a href="@workspace.FullUrl">@workspace.Name</a></li>
		}
	</ul>
</div>

