@{
	Layout = "~/Areas/Admin/Pages/Shared/_AuthLayout.cshtml";
}
<div class="inner">
	@if (ViewBag.ShowLoginFailed == true) { 
		<div class="actionStatus error">
			<div class="title">Login failed</div>
		</div>
	}
	<div class="loginSchemeSelection">
		<div class="label">Select service to log in:</div>
		<div class="schemes">
			@foreach (var scheme in Docomb.WebCore.Configurations.MainConfig.Instance.Authentication?.Schemes ?? new())
			{
				<form method="post" action="account/login/scheme">
					<input type="hidden" name="schemeCode" value="@scheme.Code" />
					<button type="submit">
						@if (!string.IsNullOrEmpty(scheme.ButtonLogo)) {
							<i><img src="~/_resources/images/@(scheme.ButtonLogo).svg" alt="" /></i>
						}
						<b>@scheme.Name</b>
					</button>
				</form>
			}
		</div>
	</div>
</div>