@{
	Layout = "~/Areas/Admin/Pages/Shared/_AuthLayout.cshtml";
}
<div class="inner">
	<div class="actionStatus">
		<div class="title">You were logged out</div>
	</div>
	<div class="otherActions">
		<div class="links">
			<a href="account/login">Log in</a>
		</div>
	</div>
</div>