<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta content="width=device-width, initial-scale=1.0" name="viewport" />
	<title>@(Docomb.WebCore.Configurations.MainConfig.Instance.SiteName)</title>
	<link rel="stylesheet" href="~/_resources/styles/docombReader.css" />
</head>

<body>
	@RenderBody()
</body>
</html>