body {
  border: none;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh; }

h1, h2, h3, h4, h5, h6 {
  margin: 30px 0 15px 0;
  padding: 0; }

h1 + h2, h1 + h3, h1 + h4, h1 + h5, h1 + h6,
h2 + h3, h2 + h4, h2 + h5, h2 + h6,
h3 + h4, h3 + h5, h3 + h6,
h4 + h5, h4 + h6,
h5 + h6 {
  margin-top: 0; }

p, blockquote, pre, hr, dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0; }

p + p {
  margin-top: .751em; }

blockquote, pre, ul, ol, dl, figure, .highlight {
  margin-top: 10px;
  margin-bottom: 10px; }

img {
  max-width: 100%;
  vertical-align: middle; }

figure > img {
  display: block; }

ul, ol {
  margin-left: 30px; }

li > ul, li > ol {
  margin-top: 0;
  margin-bottom: 0; }

html body {
  background: #fff;
  color: #000; }

html a {
  color: #039; }

html header, html footer {
  background: #ddd; }

html nav a {
  color: #000; }

.dark body {
  background: #222;
  color: #fff; }

.dark a {
  color: #0bf; }

.dark header, .dark footer {
  background: #444; }

.dark nav a {
  color: #fff; }

@media (prefers-color-scheme: dark) {
  html body {
    background: #222;
    color: #fff; }
  html a {
    color: #0bf; }
  html header, html footer {
    background: #444; }
  html nav a {
    color: #fff; }
  .light body {
    background: #fff;
    color: #000; }
  .light a {
    color: #039; }
  .light header, .light footer {
    background: #ddd; }
  .light nav a {
    color: #000; } }

header {
  flex: 0 0 auto; }
  header .workspaces {
    padding: 5px 0;
    text-align: center;
    border-bottom-width: 1px;
    border-bottom-style: solid; }
    html header .workspaces {
      border-bottom-color: #bbb; }
    .dark header .workspaces {
      border-bottom-color: #666; }
    @media (prefers-color-scheme: dark) {
      html header .workspaces {
        border-bottom-color: #666; }
      .light header .workspaces {
        border-bottom-color: #bbb; } }
    header .workspaces a {
      display: inline-block;
      font-size: 14px;
      font-weight: bolder;
      margin: 5px 5px 3px 5px;
      padding: 5px;
      text-decoration: none; }
    header .workspaces a span {
      display: block;
      padding-bottom: 2px; }
    header .workspaces a.selected span {
      padding-bottom: 0;
      border-bottom-width: 2px;
      border-bottom-style: solid; }
      html header .workspaces a.selected span {
        border-bottom-color: #000; }
      .dark header .workspaces a.selected span {
        border-bottom-color: #fff; }
      @media (prefers-color-scheme: dark) {
        html header .workspaces a.selected span {
          border-bottom-color: #fff; }
        .light header .workspaces a.selected span {
          border-bottom-color: #000; } }
    @media all and (min-width: 800px), print {
      header .workspaces {
        padding: 5px 15px;
        font-size: 18px; } }
  header .pageTitle {
    padding: 20px; }
    @media not all and (min-width: 800px) {
      header .pageTitle {
        padding: 10px; } }
    header .pageTitle .breadcrumbs {
      margin: -5px;
      position: relative;
      z-index: 1; }
      html header .pageTitle .breadcrumbs {
        color: #666; }
      .dark header .pageTitle .breadcrumbs {
        color: #ccc; }
      @media (prefers-color-scheme: dark) {
        html header .pageTitle .breadcrumbs {
          color: #ccc; }
        .light header .pageTitle .breadcrumbs {
          color: #666; } }
      header .pageTitle .breadcrumbs a {
        color: inherit;
        display: inline-block;
        padding: 5px;
        text-decoration: none;
        font-size: 14px;
        font-weight: 500; }
      header .pageTitle .breadcrumbs .separator {
        display: inline-block;
        padding: 5px 0; }
    header .pageTitle h1 {
      font-size: 24px;
      font-weight: bolder;
      margin: 0; }
      @media all and (min-width: 800px), print {
        header .pageTitle h1 {
          font-size: 30px; } }
  @media only print {
    header {
      border-bottom: 1px solid;
      margin-bottom: 40px; }
      header .workspaces {
        display: none !important; }
      header .pageTitle {
        padding: 0 0 20px 0; }
      html header {
        border-bottom-color: #000; }
      .dark header {
        border-bottom-color: #fff; } }
  @media only print and (prefers-color-scheme: dark) {
    html header {
      border-bottom-color: #fff; }
    .light header {
      border-bottom-color: #000; } }

footer {
  flex: 0 0 auto; }

.pageContent {
  padding: 20px;
  flex: 1 1 auto; }
  @media not all and (min-width: 800px) {
    .pageContent {
      padding: 10px; } }
  @media only print {
    .pageContent {
      padding: 0; } }

.pageContent > :first-child, blockquote > :first-child {
  margin-top: 0; }

.pageContent > :last-child, blockquote > :last-child {
  margin-bottom: 0; }

blockquote {
  border-left: 4px solid;
  padding: 5px 5px 5px 15px;
  font-size: 18px;
  letter-spacing: -1px;
  font-style: italic; }
  html blockquote {
    border-left-color: #bbb;
    background: #ddd; }
  .dark blockquote {
    border-left-color: #666;
    background: #444; }
  @media (prefers-color-scheme: dark) {
    html blockquote {
      border-left-color: #666;
      background: #444; }
    .light blockquote {
      border-left-color: #bbb;
      background: #ddd; } }

pre, code {
  font-family: Consolas, Courier New, Courier, monospace;
  border: 1px solid;
  font-size: .9em; }
  html pre, html code {
    border-color: #bbb;
    background: #ddd; }
  .dark pre, .dark code {
    border-color: #666;
    background: #444; }
  @media (prefers-color-scheme: dark) {
    html pre, html code {
      border-color: #666;
      background: #444; }
    .light pre, .light code {
      border-color: #bbb;
      background: #ddd; } }

pre {
  padding: 10px;
  overflow-x: auto; }

code {
  padding: 0 2px; }

pre > pre, code > code, pre > code, code > pre {
  font-size: 1em;
  border: none;
  padding: 0;
  margin: 0; }

hr {
  margin: 30px 0;
  border-top: 2px solid;
  border-left: none;
  border-right: none;
  border-bottom: none; }
  html hr {
    border-top-color: #666; }
  .dark hr {
    border-top-color: #ccc; }
  @media (prefers-color-scheme: dark) {
    html hr {
      border-top-color: #ccc; }
    .light hr {
      border-top-color: #666; } }

table {
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: left;
  border-collapse: collapse;
  border: 1px solid;
  /*tr:nth-child(even) { background-color: #f7f7f7; }*/ }
  table th, table td {
    padding: 3px 5px;
    border: 1px solid; }
  table th {
    border-bottom-width: 2px; }

html table, html table td, html table th {
  border-color: #bbb; }

.dark table, .dark table td, .dark table th {
  border-color: #666; }

@media (prefers-color-scheme: dark) {
  html table, html table td, html table th {
    border-color: #666; }
  .light table, .light table td, .light table th {
    border-color: #bbb; } }

html table th {
  border-bottom-color: #666;
  background: #ddd; }

.dark table th {
  border-bottom-color: #ccc;
  background: #444; }

@media (prefers-color-scheme: dark) {
  html table th {
    border-bottom-color: #ccc;
    background: #444; }
  .light table th {
    border-bottom-color: #666;
    background: #ddd; } }
